<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dashdocs-vatan.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dashdocs-vatan.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dashdocs-vatan</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dashdocs-vatan</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DocumentStore" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=documentstorevatan;AccountKey=dmOWjG5ecv1/pt48aKFC5Y3OePtXgvV/lFfg//2SjmKN0x6gHJMxGvmzXUmCbTfTYR7n6qjBatoE4+0Nz0l++w==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DocumentStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchAttributes="$(UpdateFromConnectionStringAttributes)" MatchValue="DefaultEndpointsProtocol=https;AccountName=documentstorevatan;AccountKey=dmOWjG5ecv1/pt48aKFC5Y3OePtXgvV/lFfg//2SjmKN0x6gHJMxGvmzXUmCbTfTYR7n6qjBatoE4+0Nz0l++w==" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DashDocsContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DashDocs.Services.DashDocsContext, DashDocs" MigrationConfiguration="DashDocs.Migrations.Configuration, DashDocs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DashDocsContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DocumentStore-Web.config Connection String" />
  </ItemGroup>
</Project>